<!DOCTYPE html>
<html>
  <head>
    <title>Ant Thermostat</title>
    <link rel='stylesheet' href='/dist/bower.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>Current temperature : <%= temperature %></p>

    <script src="dist/bower.js"></script>
  </body>
</html>
